<section class="contact-section">
  <div class="container-full">
    <div class="border">
      <div class="grid grid-custom">
        <div class="form-container">
          <h3 class="heading-secondary color">If you need to reach us</h3>
          <p class="sub color">
            If you are needing help, please do not hesitate to contact us.
          </p>
          <form
            [formGroup]="contactForm"
            class="form color"
            (ngSubmit)="submitForm()"
          >
            <div class="info">
              <div class="input">
                <label for="name">Full name *</label>
                <input
                  formControlName="name"
                  id="name"
                  type="text"
                  placeholder="John Smith"
                />
                <div
                  *ngIf="submitted && f.name.errors"
                  class="alert alert-danger"
                >
                  <div *ngIf="f.name.errors?.required">Name is required.</div>
                </div>
              </div>

              <div class="input">
                <label for="phone">Phone number *</label>
                <input
                  formControlName="phone"
                  id="phone"
                  type="tel"
                  placeholder="123-456-789"
                />
                <div
                  *ngIf="submitted && f.phone.errors"
                  class="alert alert-danger"
                >
                  <div *ngIf="f.phone.errors?.required">Phone is required.</div>
                  <div
                    *ngIf="!f.phone.errors?.required && f.phone.errors?.pattern"
                  >
                    Incorrect phone format.
                  </div>
                </div>
              </div>
              <div class="input">
                <label for="email">Email *</label>
                <input
                  formControlName="email"
                  type="email"
                  placeholder="me@example.com"
                />
                <div
                  *ngIf="submitted && f.email.errors"
                  class="alert alert-danger"
                >
                  <div *ngIf="f.email.errors?.required">Email is required.</div>
                  <div
                    *ngIf="!f.email.errors?.required && f.email.errors?.email"
                  >
                    Incorrect email format.
                  </div>
                </div>
              </div>
              <div class="input">
                <label for="address">Address *</label>
                <input
                  formControlName="address"
                  id="address"
                  type="text"
                  placeholder="Street address"
                />
                <div
                  *ngIf="submitted && f.address.errors"
                  class="alert alert-danger"
                >
                  <div *ngIf="f.address.errors?.required">
                    Address is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-item input">
              <label for="visited">
                Have you visited a chiropractor before? *
              </label>
              <select
                formControlName="visited"
                name="visited"
                id="visited"
                class="visited"
                placeholder="Please choose an option"
              >
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
              <div
                *ngIf="submitted && f.visited.errors"
                class="alert alert-danger"
              >
                <div *ngIf="f.visited.errors?.required">
                  Please choose an option.
                </div>
              </div>
            </div>
            <div class="form-item input">
              <label for="msg">Message *</label>
              <textarea
                formControlName="message"
                name="msg"
                id="msg"
                cols="30"
                rows="10"
                placeholder="Please describe any physical  discomfort you currently have, if any"
              ></textarea>
              <div
                *ngIf="submitted && f.message.errors"
                class="alert alert-danger"
              >
                <div *ngIf="f.message.errors?.required">
                  Message is required.
                </div>
              </div>
            </div>
            <button class="btn btn-form">Submit</button>
          </form>
        </div>
        <div class="map">
          <google-map
            [zoom]="zoom"
            [center]="center"
            height="100%"
            width="100%"
          >
            <map-marker [position]="center" (mapClick)="openMap()"></map-marker>
          </google-map>
        </div>
      </div>
    </div>
  </div>
</section>
