.contact-section {
  padding: 9.6rem 0;
}
.grid-custom {
  grid-template-columns: 1fr 1fr;
}

.border {
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
  border-radius: 15px;
  overflow: hidden;
}
.color {
  color: #45260a;
}

.form {
  margin: 4.8rem 0;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
}
.form-item {
  margin-top: 2.4rem;
}

.input {
  display: flex;
  flex-direction: column;
  position: relative;
}
.input label {
  font-weight: 500;
}

.form input {
  background-color: #fff0e6;
  border-radius: 9px;
  padding: 1.2rem;
  border: none;
  transition: all 0.3s;
  outline: none;
}

.form textarea {
  background-color: #fff0e6;
  border-radius: 9px;
  padding: 1.2rem;
  border: none;
  transition: all 0.3s;
  outline: none;
}

.form select {
  background-color: #fff0e6;
  border-radius: 9px;
  padding: 1.2rem;
  border: none;
  transition: all 0.3s;
  outline: none;
}

.sub {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-top: 0.8rem;
}

.btn-form {
  margin: 2.4rem 1.8rem 0;
  font-size: 1.6rem;
  border-radius: 9px;
  padding: 1.2rem 0;
  background-color: #45260a;
  font-weight: 600;
  color: #fff;
  transition: all 0.3s;
  border: none;
}

.btn-form:hover {
  background-color: #fff0e6;
  color: #333;
}

.map {
  width: 100%;
}

.form-container {
  margin: 2.4rem 0 2.4rem 2.4rem;
}

label {
  margin-bottom: 2px;
}

.alert-danger {
  position: absolute;
  bottom: -1.4rem;
  left: 1rem;
  font-size: 1.2rem;
  color: #af0606;
}
