.welcome-section {
  padding: 9.6rem 0;
  background-color: #fff0e6;
}

.welcome-img {
  display: flex;
}

.welcome-img img {
  width: 100%;
  display: block;
}

.text {
  margin-top: 3.2rem;
  line-height: 1.8;
  font-size: 1.8rem;
}

.round-img {
  align-self: center;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.heading-primary {
  margin-bottom: 5.6rem;
}

.play-btn {
  position: absolute;
  top: 2rem;
  left: 2rem;
  border-radius: 50%;
  padding: 0.5rem;

  transition: all 0.3s;
}

.play-btn ion-icon {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
  width: 5.6rem;
  height: 5.6rem;
}

.play-btn:hover {
  transform: translateY(-2px);
}
