<section class="welcome-section">
  <div class="container grid grid--col-2 flex">
    <div class="welcome-container">
      <p class="title-intro">
        WELCOME TO HARMONY CHIROPRACTIC <br />
        & WELLNESS CLINIC
      </p>

      <h1 class="heading-primary">
        Best Chiropractor in Kelowna and Central Okanagan
      </h1>

      <p class="text">
        Welcome to Harmony Chiropractic & Wellness Clinic! It is an honor to
        have the opportunity to address your health care needs and concerns. As
        Ralph Waldo Emerson said, “The first wealth is Health” and here at
        Harmony Chiropractic & Wellness Clinic, we believe good health is vital
        to living a sustainable, rewarding life.
      </p>

      <p class="text">
        Whether it’s an ache or pain or a desire to find a new way at looking at
        your wellbeing, Harmony Chiropractic & Wellness Clinic is here to
        explore your health and provide a solution that is individual to your
        specific needs. We are the best Prenatal or Pregnancy Chiropractor in
        Kelowna and Central Okanagan.
      </p>
    </div>
    <div class="welcome-img">
      <div class="round-img">
        <a
          href="https://www.youtube.com/watch?v=ZrhaMn6dCZA&t=0s"
          class="play-btn"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ion-icon name="play-circle-outline"></ion-icon>
        </a>
        <img src="../../../assets/imgs/welcome-img.webp" alt="" />
      </div>
    </div>
  </div>
</section>
