<footer class="footer">
  <div class="container-full">
    <div class="grid grid--col-4">
      <div class="info flex">
        <a href="" class="header-logo">
          <img src="../../../assets/imgs/main-logo-dark.webp" alt="" />
        </a>
        <div class="media">
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-youtube"></ion-icon>
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-linkedin"></ion-icon>
        </div>
      </div>
      <div class="links">
        <p class="title">Useful links</p>
        <ul class="footer-nav">
          <li>
            <a [routerLink]="['/home']" class="link">Home</a>
          </li>
          <li>
            <a [routerLink]="['/about-us']" class="link">About</a>
          </li>
          <li>
            <a [routerLink]="['/awards']" class="link">Awards</a>
          </li>
          <li>
            <a [routerLink]="['/our-team']" class="link">Our team</a>
          </li>
          <li>
            <a [routerLink]="['/blog']" class="link">Blog</a>
          </li>
          <li>
            <a [routerLink]="['/join-us']" class="link">Join us</a>
          </li>
        </ul>
      </div>
      <div class="touch">
        <p class="title">Contact us</p>
        <ul class="footer-nav">
          <li>
            <a
              href="https://www.google.com/maps/place/Harmony+Chiropractic+%26+Wellness+Clinic/@49.8621409,-119.494241,17z/data=!3m1!4b1!4m5!3m4!1s0x537d8b46dd42f7f1:0xd0f202fd382f9008!8m2!3d49.8621067!4d-119.4920529?shorturl=1"
              class="link"
              >436 Cedar Ave #202, Kelowna, <br />
              BC V1Y 4X3</a
            >
          </li>
          <li>
            <a href="tel:2508688086" class="link">250 868-8086</a>
            <br />
            <a href="mailto:admin@theharmonyclinic.com" class="link"
              >admin@theharmonyclinic.com</a
            >
          </li>

          <li>
            <p>
              Office Hours <br />
              Mon - Fri
            </p>
          </li>
        </ul>
      </div>
      <div class="newsletter-container">
        <p class="title">Newsletter & events</p>
        <div class="newsletter">
          <p class="title-intro sub-heading">Inspire your inbox</p>
          <form
            [formGroup]="newsletterForm"
            (ngSubmit)="submitForm()"
            class="flex form"
          >
            <div class="flex form-input">
              <label class="email" for="email">Your email</label>
              <input
                formControlName="email"
                id="email"
                type="email"
                placeholder="me@example.com"
              />
            </div>
            <button class="btn btn-form">Subscribe</button>
            <div *ngIf="submitted && f.email.errors" class="alert alert-danger">
              <div *ngIf="f.email.errors?.required">Email is required.</div>
              <div *ngIf="!f.email.errors?.required && f.email.errors?.email">
                Incorrect email format.
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
