<section class="service-section">
  <div class="container margin-bottom">
    <div class="grid grid--col-2">
      <div class="info">
        <p class="title-intro">Our Services</p>
        <h1 class="heading-primary">Your Right Choice</h1>
        <p class="text">
          Explore the best combination of Kelowna Chiropractic, Registered
          Massage Therapy and Kelowna Acupuncture here at Harmony Chiropractic &
          Wellness Clinic. We work with Pre- and Post-surgical cases, Athletic
          and Non-Athletic injuries, ICBC cases, Geriatrics, Pediatrics,
          Pregnancy and everything in between! We offered customized tailored
          treatment plans to better serve our Kelowna Chiropractic & Acupuncture
          patients, and assure only honest clinical opinions in our patient
          centered approach.
        </p>
        <a href="#" class="btn-info btn btn-full">View all services </a>
      </div>
      <div class="services">
        <ul class="service-list grid grid--col-2">
          <li>
            <a href="#" class="service-link">
              Pediatric <span class="group">Assessments &rarr;</span></a
            >
          </li>
          <li>
            <a href="#" class="service-link">Pregnancy &rarr;</a>
          </li>
          <li>
            <a href="#" class="service-link"
              >Athletic <span class="group">Injuries &rarr;</span></a
            >
          </li>
          <li>
            <a href="#" class="service-link">
              Family <span class="group">Wellness &rarr;</span></a
            >
          </li>

          <li>
            <a href="#" class="service-link"
              >Registered Massage <span class="group"> Therapy &rarr;</span></a
            >
          </li>
          <li>
            <a href="#" class="service-link"
              >Acupuncture <span class="group">Kelowna &rarr;</span></a
            >
          </li>
          <li>
            <a href="#" class="service-link">
              Exercise, Stress & <br />
              Nutritional
              <span class="group"> Support &rarr;</span></a
            >
          </li>
          <li>
            <a href="#" class="service-link">
              Back & Neck Pain, <br />
              Headaches <span class="group">& Migraines &rarr;</span></a
            >
          </li>
          <li>
            <a href="#" class="service-link"
              >Geriatric Chiropractic <br />
              Care &rarr;</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-full border">
    <div class="service-info grid grid--col-2">
      <div class="service-item">
        <div class="icon">
          <app-service-info-one></app-service-info-one>
          <h2 class="heading-secondary">Assessment</h2>
        </div>

        <p class="service-info">
          Kelowna chiropractors start the appointment by doing a full history
          and physical. In the history portion, the chiropractor will ask
          questions in order to better understand your pain levels, lifestyle
          habits, and address any concerns the patient may have
        </p>
      </div>
      <div class="service-item">
        <div class="icon">
          <app-service-info-four></app-service-info-four>
          <h2 class="heading-secondary">Treatment</h2>
        </div>

        <p class="service-info">
          The chiropractor will formulate a treatment specifically designed to
          relieve tension and improve overall wellness.So, Dr. Harmony
          incorporates modalities, massage, and chiropractic adjustment into
          each appointment.
        </p>
      </div>
      <div class="service-item">
        <div class="icon">
          <app-service-info-three></app-service-info-three>
          <h2 class="heading-secondary">Plan</h2>
        </div>

        <p class="service-info">
          An individualized treatment plan is given to each patient that the
          chiropractor treats. The massage is customized to the patient’s needs
          each visit, and the adjustment can be modified depending on what the
          patient is comfortable with.
        </p>
      </div>
      <div class="service-item">
        <div class="icon">
          <app-service-info-two></app-service-info-two>
          <h2 class="heading-secondary">Years of experience</h2>
        </div>

        <p class="service-info">
          Harmony Chiropractic & Wellness Clinic was founded by Dr. Harmony Mir,
          and has been helping improve the health of the community since 2012.
          Having practiced in Toronto, Vancouver and Kelowna, Then she has
          gained valuable experience and knowledge to better serve her patients
          in Kelowna & Okanagan.
        </p>
      </div>
    </div>
  </div>
</section>
