<header class="header">
    <a href="" class="header-logo">
        <img src="../../../assets/imgs/main-logo-dark.webp" alt="" />
    </a>

    <nav class="header-nav">
        <ul class="nav-list">
            <li class="nav-list-item">
                <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-link">About</a>
            </li>

            <li class="nav-list-item">
                <a href="#" class="nav-link">Contact</a>
            </li>
            <li class="nav-list-item">
                <a href="" class="btn btn-full">Make An Appointment</a>
            </li>
        </ul>
    </nav>
</header>

<!-- 
@TODO:
    Should get moved undo about us

 <li class="nav-list-item">
                <a href="#" class="nav-link">Awards</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-link">Our team</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-link">Services / Pricing</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-link">Blog</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-link">Join us</a>
            </li>





 -->