<section class="offer-section">
  <div class="container-full">
    <div class="grid grid--col-3 card-grid">
      <div class="card">
        <img src="../../../assets/imgs/chiro-offer.jpg" alt="" />
        <div class="title">
          <div class="icon">
            <app-chiro></app-chiro>
          </div>
          <h3 class="heading-card">Chiropractic</h3>
        </div>

        <p class="info">
          Chiropractic care is a system of therapy focused on the diagnosis,
          treatment, and overall management of disorders of the musculoskeletal
          system and the effects of these disorders on general health.
        </p>

        <div class="center">
          <a href="#" class="offer-link"> Read more &rarr; </a>
        </div>
      </div>

      <div class="card">
        <img src="../../../assets/imgs/massage-offer.jpg" alt="" />
        <div class="title">
          <div class="icon">
            <app-massage></app-massage>
          </div>
          <h3 class="heading-card">Massage Therapy</h3>
        </div>

        <p class="info">
          Our staff of highly qualified Kelowna Massage Therapists can offer
          information and treatments for a variety of needs. Contact us or book
          an appointment online today and start your health journey!
        </p>

        <div class="center">
          <a href="#" class="offer-link"> Read more &rarr; </a>
        </div>
      </div>

      <div class="card">
        <img src="../../../assets/imgs/acu-offer.jpg" alt="" />
        <div class="title">
          <div class="icon">
            <app-acu></app-acu>
          </div>
          <h3 class="heading-card">Acupuncture</h3>
        </div>

        <p class="info">
          Acupuncture Find harmony and balance through Traditional Chinese
          Medicine (TCM) treatments, which include Acupuncture, Herbs and other
          modalities to stimulate the body’s natural curative energy.
        </p>

        <div class="center">
          <a href="#" class="offer-link"> Read more &rarr; </a>
        </div>
      </div>
    </div>
  </div>
</section>
