<section class="testimonal-section">
  <div class="container-full">
    <p class="title-intro">Testimonials</p>
    <h1 class="heading-primary">What our patients are saying</h1>
    <div class="grid my-grid">
      <div class="reviews">
        <div class="review">
          <div class="rating">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
          </div>
          <p class="review-text">
            This is an amazing clinic. “My husband, 4 month old daughter and I,
            have been going to see Doctor Harmony for a few months now and it
            has been amazing. Peaceful, relaxing atmosphere, Doctor Harmony
            makes you feel so comfortable and cared for. You receive a massage
            before every adjustment. We’ve always had a wonderful experience
            going. Doctor Harmony is experienced, very knowledgeable,
            personable, kind and funny. She will go out of her way to make sure
            you are cared for in the way you need. Our daughter had issues with
            her neck from birth and we took her to see Dr. Harmony, we were
            nervous about taking our newborn to a chiropractor, but she made us
            feel so comfortable and our daughter loved it, I recall her falling
            asleep, she was so knowledgeable about pediatrics and really good at
            working with babies. After a couple more appointments her neck was
            perfect and completely returned to normal, we did the stretches with
            her that she recommended and it made a huge difference.
          </p>
          <p class="name">&mdash; Eliza</p>
        </div>
        <div class="review">
          <div class="rating">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
          </div>
          <p class="review-text">
            I chose Dr. Harmony based on my own thorough research, and I am more
            than thrilled to have done so. I saw her for over a month and
            enjoyed every single visit, continually feeling improvement after
            treatments. I love the fact that her treatments come as a
            combination of massage, electrotherapy and adjustments which are
            carefully planned and crafted according to an individual's needs.
            She has helped me a lot with my low back pain as well as neck
            stiffness, and I will be seeing her again, in order to continue
            feeling better. The place is serene and her assistants are also very
            caring and attentive. Dr. Harmony is knowledgeable, professional,
            and multitalented; she is someone very special who brings top notch
            service to chiropractic care and makes one feel truly cared for.
            Very grateful for having her as my chiropractor.
          </p>
          <p class="name">&mdash; Sandra O</p>
        </div>

        <div class="review">
          <div class="rating">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
          </div>
          <p class="review-text">
            Went to Dr. Harmony for my ongoing shoulder injury. She was the only
            one in Kelowna who could diagnose me correctly and treat the
            underlying issue at hand. I was in shock for a while after the
            appointment as it's been a long 8 months of appointments and
            treatments all providing no relief to my ongoing pain. I feel like I
            have a whole new shoulder! Now I can work on strengthening it
            correctly. She made me feel beyond comfortable and is very
            knowledgeable! So happy I went to see her, excited for my next
            session. Highly recommend!
          </p>
          <p class="name">&mdash; Ashton K C</p>
        </div>
        <div class="review">
          <div class="rating">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
          </div>
          <p class="review-text">
            Not only is Dr. Harmony an amazing chiropractor, she is the best
            medical practitioner of any kind that I have ever met. Her passion
            for her work and well being of her clients is very clear as soon as
            you meet her. She is extremely kind and caring, and does not allow
            you to feel rushed during your appointments. The environment of the
            clinic is very peaceful and welcoming. I am extremely grateful I was
            recommended to her.
          </p>
          <p class="name">&mdash; Jen M</p>
        </div>
        <div class="review">
          <div class="rating">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
          </div>
          <p class="review-text">
            I absolutely adore Harmony. Her clinic is clean, inviting,
            accessible and professional. Her practice is a well oiled machine
            and the care given is hands-down the most holistic medical care
            available. I’ve been seeing Dr. Mir for over 7 years and i would
            recommend her in particular for pregnancy, infants, elderly, or
            anyone who identifies as neurodiverse or anxious. She is kind and
            compassionate and exceptionally skilled.
          </p>
          <p class="name">&mdash; Kristel R</p>
        </div>

        <div class="review">
          <div class="rating">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
          </div>
          <p class="review-text">
            Thank you Dr. Harmony for giving me my life back! I am now able to
            move throughout the day without constant pain and I sleep at night.
            If you are looking for a chiropractor who listens with compassion
            and kindness, who is professional and gifted in her field then look
            no further. I am blessed to have found her.
          </p>
          <p class="name">&mdash; Debbie M</p>
        </div>
        <div class="review">
          <div class="rating">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
          </div>
          <p class="review-text">
            As Mozart played the Piano so Dr Harmony plays my joints and her
            team join in the Symphony. While most may not consider the noises
            made during a visit music.... I sleep soundly because of it.
          </p>
          <p class="name">&mdash; Merak S</p>
        </div>
      </div>
      <div class="awards">
        <img src="../../../assets/imgs/awards/2016.png" alt="" />
        <img src="../../../assets/imgs/awards/2017.png" alt="" />
        <img src="../../../assets/imgs/awards/2018.png" alt="" />
        <img src="../../../assets/imgs/awards/2019.png" alt="" />
        <img src="../../../assets/imgs/awards/2020.png" alt="" />
        <img src="../../../assets/imgs/awards/2021.png" alt="" />
      </div>
    </div>
  </div>
</section>
