


/*
900 px
*/
@media (max-width: 59em) {
 
}

/*
700 px
*/
@media (max-width: 44em) {
  
}

/*
400 px
*/
@media (max-width: 25rem) {
  
}








/*
1200 px
*/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/*
1050 px
*/
@media (max-width: 66em) {
  .grid {
    row-gap: 6.4rem;
    column-gap: 4.8rem;
  }

  .heading-primary {
    font-size: 4.8rem;
    font-weight: bold;
  }
}

/*
900 px
*/
@media (max-width: 59em) {
  .grid {
    row-gap: 3.2rem;
    column-gap: 2.4rem;
  }
}

/*
700 px
*/
@media (max-width: 44em) {
  .header-logo img {
    height: 4rem;
  }

  .heading-primary {
    font-size: 3.2rem;
  }
  .heading-secondary {
    font-size: 2.8rem;
    font-weight: 600;
  }

  .heading-tertiary {
    font-size: 2rem;
    font-weight: 600;
  }
  .container {
    padding: 0 3.2rem;
  }
}

/*
400 px
*/
@media (max-width: 25rem) {
  .container {
    padding: 0 1.8rem;
  }
}












































/*
1200 px
*/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/*
1050 px
*/
@media (max-width: 66em) {
  .grid {
    row-gap: 6.4rem;
    column-gap: 4.8rem;
  }

  .heading-primary {
    font-size: 4.8rem;
    font-weight: bold;
  }
}

/*
900 px
*/
@media (max-width: 59em) {
  .grid {
    row-gap: 3.2rem;
    column-gap: 2.4rem;
  }
}

/*
700 px
*/
@media (max-width: 44em) {
  .header-logo img {
    height: 4rem;
  }

  .heading-primary {
    font-size: 3.2rem;
  }
  .heading-secondary {
    font-size: 2.8rem;
    font-weight: 600;
  }

  .heading-tertiary {
    font-size: 2rem;
    font-weight: 600;
  }
  .container {
    padding: 0 3.2rem;
  }
}

/*
400 px
*/
@media (max-width: 25rem) {
  .container {
    padding: 0 1.8rem;
  }
}
